
    .e,
    .a {
        position: absolute
    }

    .a {
        height: 156px;
        top: -21.8%;
        left: -3.4%
    }

    #userSkin.skin-ai {
        background: url(https://media1.giphy.com/media/VzSZDKBQMvCuExqTAE/giphy.gif?cid=ecf05e47ge0ux9x425jmekhd0ngunpyhpuaa1wm9ax9vna3c&ep=v1_gifs_gifId&rid=giphy.gif&ct=g) no-repeat 0 0;
        background-size: cover;
        background-attachment: fixed
    }
    @keyframes loop {
        0% {
          background-position: 0 0;
        }
  
        100% {
          /* 世界地图的大小为900*450，所以background-position-x: -900px */
          /* 背景图片的定位：定位值为负，代表向左或上移动的距离。这里设置水平方向为负值，代表向左移动*/
          background-position: -900px 0;
        }
      }
  
      .earth {
        /* 背景图片在水平方向平铺*/
        background: url(https://github.com/Zhouxin3185/csdn/blob/main/terra.jpg?raw=true) repeat-x 0 0;
        /*形成圆边效果，视觉效果更好，当然也可以不用*/
        border: 1px solid rgba(26, 18, 101, 0.3);
        /*使地球形成圆形效果*/
        border-radius: 225px;
        /*添加2个阴影，形成圆形外面的模糊月晕效果*/
        box-shadow: -8px 0 25px rgba(256, 256, 256, 0.3),
          -1px -2px 14px rgba(256, 256, 256, 0.5) inset;
        /*下面的属性可实现地球在当前浏览器窗口水平和垂直方向上都居中 */
        height: 450px;
        left: 50%;
        margin: -225px 0 0 -225px;
        position: absolute;
        top: 50%;
        width: 450px;
        /* 这里的时间是可以自定义设置的，如果你想地球转速快一点的话，时间改小点即可，比如10s */
        animation: loop 20s linear infinite;
      }
  
      .earth:before {
        content: "";
        border-radius: 225px;
        /*设置弧形阴影，形成白天黑夜的效果*/
        box-shadow: -150px -6px 25px rgba(0, 0, 0, 0.7) inset;
        left: 0;
        position: absolute;
        top: 0;
        height: 450px;
        width: 450px;
      }

    #userSkin.skin-ai .user-profile-head {
        background-image: none
    }

    .user-influence-list ul li,
    .user-profile-head-info,
    .navList,
    .blog-second-list,
    .blog-list-box,
    .blink-list-box,
    .sub-people-list-box,
    .live-list-box,
    .resources-list-box,
    .answer-list-box,
    .ask-second-list,
    .answer-list-box,
    .navList-box,
    .sub-second-list {
        background: none !important
    }

    h4[data-v-6fe2b6a7],
    .user-profile-head-name-vip,
    .sub-people-username,
    .live-list-left h4,
    .aside-common-box-head,
    .resources-list-box h4{
        color: #F8FF00 !important;
        font-family: 华文行楷 !important;
        font-size: 2em !important
    }

    .user-profile-aside-common-box {
        background: rgba(187, 173, 217, 0.5) !important
    }

    .blog_extension {
        background: #ffffff3b !important
    }

    .el-input__inner {
        background: #f9020200 !important
    }

    #userSkin.skin-cookblue .user-profile-head {
        background: none
    }

    .introduction-fold {
        color: #00FFFD !important;
        font-family: 华文行楷 !important;
        font-size: 1.6em !important;
        font-weight: bold
    }

    p[data-v-46274ba1],
    .blink-list-bottom,
    .user-profile-statistics-num,
    .user-profile-statistics-name {
        font-weight: bold;
        font-family: STCaiyun !important;
        font-size: 1.8em !important;
        color: #09EC95 !important
    }

    .toolbar-container {
        background: #CAE1FF !important;
    }

    .interest-area-sub span,
    .blog-list-content,
    .navList li,
    .show-more-introduction-fold,
    .address {
        color: #FF00FE !important;
        font-family: FZShuTi !important;
        font-size: 1.8em;
        font-weight: bold
    }

    li>div,
    div>em {
        font-family: STXingkai !important;
        font-size: 1.3em !important;
        color: red !important
    }

    .aside-common-box-achievement span {
        font-family: STHupo !important
    }

    .special-column-name span,
    .influence-left span,
    .view-time-box,
    .res-download-time,
    .res-download-text,
    .two-px,
    .active,
    .interest-area-name,
    .influence-bottom-box dd,
    .influence-bottom-box dt,
    .sub-people-text,
    .live-list-bottom {
        font-family: STLiti !important;
        font-size: 23px !important;
        font-weight: bold;
        color: #00FFFD !important
    }

    .blog-list-content {
        font-size: 1.5em !important
    }

    .two-px {
        font-size: 1.1em !important
    }

    .e {
        width: 1000px;
        height: 100px;
        top: -97px;
        left: 336px
    }

    .user-gender-male {
        background-image: url(https://userblink.csdnimg.cn/direct/7b0bd0879e944cd2b8be84b732d6529a.png) !important;
        width: 19px !important
    }

    .aside-common-box-achievement li:first-child i {
        background-image: url(https://picture.gptkong.com/20240620/1615443ae4ce9d407facabf2bd0557c45c.png) !important
    }

    .aside-common-box-achievement li:nth-child(2) i {
        background-image: url(https://userblink.csdnimg.cn/direct/8024c1a120d04f80bb02d5ad7ad7d821.png) !important
    }

    .aside-common-box-achievement li:nth-child(3) i {
        background-image: url(https://userblink.csdnimg.cn/direct/c64f1fd3c16b42df8f561fc024170c77.png) !important
    }

    .aside-common-box-achievement li:nth-child(4) i {
        background-image: url(https://github.com/Zhouxin3185/csdn/blob/main/%E5%85%8D%E6%8A%A0%E5%9B%BE%E7%89%87_1719246393510.png?raw=true) !important
    }

    .aside-common-box-achievement li:nth-child(5) i {
        background-image: url(https://github.com/Zhouxin3185/csdn/blob/main/QQ%E6%88%AA%E5%9B%BE20240626150627.png?raw=true) !important
    }

    .user-top-list li {
        background-image: url(https://github.com/Zhouxin3185/csdn/blob/main/QQ%E6%88%AA%E5%9B%BE20240628032536.png?raw=true) !important
    }

    .comment-num,
    .give-like-num,
    .view-num {
        font-family: STHupo !important;
        color: #05FFAE !important
    }

    .g {
        position: fixed;
        bottom: 27%;
        left: 0%;
        z-index: 9999
    }

    .user-profile-avatar {
        position: relative;
    }

    .user-profile-avatar::after {
        position: absolute;
        content: ' ';
        background: url(https://github.com/Zhouxin3185/csdn/blob/main/bd9df4b175e09a01df43848e0e3847488f2b8599113d28-0S4n1p.png?raw=trueg);
        background-size: cover;
        width: 210%;
        height: 210%;
        top: -55px;
        left: -55px
    }


    .user-top-list a{position: relative}
.user-top-list a::after {
        content:' ';
        position: absolute;
background-size:cover;
        background:url(https://github.com/Zhouxin3185/csdn/blob/main/QQ%E6%88%AA%E5%9B%BE20240627213141.png?raw=true);
        width: 14%;
        height:91%;
        top: 2px;
        left:256px
    }



    .introduction-fold span{color:red!important;font-family:KaiTi!important}
    .user-general-info-join-csdn span,.user-profile-wrapper-box pan,.user-profile-title,.user-profile-wrapper-box span,.user-profile-sub-title{color: red!important;
        font-weight: bold!important;
        font-size: 22px!important;
    font-family: FZShuTi!important;}

    .show-more-introduction-fold{  
        color: #0016FF!important}

    .user-general-info-join-csdn > span:first-child,.user-profile-wrapper-box span,.user-profile-wrapper-box span{color:#F4FF00!important}
    .aside-common-box-more {
        color: #00FF03!important;
        font-family: STHupo!important;
        font-size: 26px!important;
    }
    input.el-input__inner,.blog-second-list ul li:nth-child(2),.blog-second-list ul li:nth-child(3),.blog-second-list ul li:nth-child(4),.sub-second-list-li{
        color: #1CFF00!important;
        font-weight: bold;
        font-family: STLiti!important;
        font-size: 25px!important;
    }
    


li.sub-second-list-li{
    font-size: 18px!important;
}

.nav-li-num[data-v-bb5f5e3e] {
    font-size: 20px!important;
    color: #00FFDE!important;
}
.a1 {
    top: 15px;
    position: fixed;
    pointer-events: none;
}
.j1 {
    width: 120px;
    height: 90px;
    margin: 50px;
    background: rgba(216, 0, 15, .8);
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3s infinite ease-in-out;
    box-shadow: -5px 5px 50px 4px #fa6c00;
    
}
 
.c1 {
    width: 100px;
    margin: 12px 8px 8px 8px;
    
}
.i1,.c1,.b1,.j1{
    border-radius: 50%;
}
.c1,.b1{
    border: 2px solid #dc8f03;
    height: 90px;

}
.b1 {
    width: 60px;
    margin: -4px 8px 8px 20px;
    
}

.d1 {
    top: -65px;
    left: 60px;
    width: 2px;
    height: 65px;
}
.i1 , .d1 {
    background: #dc8f03;
}
.i1 , .d1 , .z1,.h1,.j1::before{
    position: absolute;
}
.j1 , .g1{
    position: relative;
}
.g1 {
    
    width: 5px;
    height: 20px;
    margin: -5px 0 0 59px;
    -webkit-animation: swing 3s infinite ease-in-out;
    -webkit-transform-origin: 50% -45px;
}
.N1{
    -webkit-animation: swing 2s infinite ease-in-out;
}
.g1,.h1{
    background: orange;
    border-radius: 0 0 5px 5px
}

.i1 {
    
    top: 14px;
    height: 10px;
    
}
.i1 , .h1{
    left: -2px;
    width: 10px;
}
.h1 {
    top: 18px;
    height: 35px;
}

.j1:before {
    
    top: -7px;
    left: 29px;
    height: 12px;
    width: 60px;
    content: " ";
    display: block;
    border-radius: 5px 5px 0 0;
    border: solid 1px #dc8f03;
    background: linear-gradient(to right, #dc8f03, orange, #dc8f03, orange, #dc8f03)
}

.e1{
    font-size: 3.5rem;
    color: #F8FF00;
    font-weight: 700;
    line-height: 95px;
    text-align: center;
    font-family: 华文行楷;
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(-15deg)
    }

    50% {
        -webkit-transform: rotate(15deg)
    }

    100% {
        -webkit-transform: rotate(-15deg)
    }
        
}
.earth {
    position: absolute;
    left: -428px;
    top: 626px;
}
.a11{
    left: -1%;
}
.e11{
    line-height: 70px;color:#C200FF
    ;
}
.a12{
    left: 3.25%;
}
.e12{
    line-height: 70px;color:#00FFF9
    ;
}
.a13{
    left: 86%;
}
.e13{
    line-height: 70px;color:red;
}
.a14{
    left: 90.25%;
}
.e14{
    line-height: 70px;color:#C6FF00
    ;
}
.night {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-animation: sky 200000ms linear infinite;
	animation: sky 200000ms linear infinite;
}

.shooting_star {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 2px;
	background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
	border-radius: 999px;
	-webkit-filter: drop-shadow(0 0 6px #699bff);
	filter: drop-shadow(0 0 6px #699bff);
	-webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
	animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
	content: '';
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	height: 2px;
	background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
	-webkit-transform: translateX(50%) rotateZ(45deg);
	transform: translateX(50%) rotateZ(45deg);
	border-radius: 100%;
	-webkit-animation: shining 3000ms ease-in-out infinite;
	animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
	-webkit-transform: translateX(50%) rotateZ(-45deg);
	transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
	top: calc(50% - 185px);
	left: calc(50% - 150px);
	-webkit-animation-delay: 8971ms;
	animation-delay: 8971ms;
}

.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after,
.shooting_star:nth-child(1)::after {
	-webkit-animation-delay: 8971ms;
	animation-delay: 8971ms;
}

.shooting_star:nth-child(2) {
	top: calc(50% - 50px);
	left: calc(50% - 179px);
	-webkit-animation-delay: 9256ms;
	animation-delay: 9256ms;
}

.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after,
.shooting_star:nth-child(2)::after {
	-webkit-animation-delay: 9256ms;
	animation-delay: 9256ms;
}

.shooting_star:nth-child(3) {
	top: calc(50% - -146px);
	left: calc(50% - 135px);
	-webkit-animation-delay: 8700ms;
	animation-delay: 8700ms;
}

.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after,
.shooting_star:nth-child(3)::after {
	-webkit-animation-delay: 8700ms;
	animation-delay: 8700ms;
}

.shooting_star:nth-child(4) {
	top: calc(50% - -77px);
	left: calc(50% - 157px);
	-webkit-animation-delay: 3147ms;
	animation-delay: 3147ms;
}

.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after,
.shooting_star:nth-child(4)::after {
	-webkit-animation-delay: 3147ms;
	animation-delay: 3147ms;
}

.shooting_star:nth-child(5) {
	top: calc(50% - -183px);
	left: calc(50% - 8px);
	-webkit-animation-delay: 6588ms;
	animation-delay: 6588ms;
}

.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after,
.shooting_star:nth-child(5)::after {
	-webkit-animation-delay: 6588ms;
	animation-delay: 6588ms;
}

.shooting_star:nth-child(6) {
	top: calc(50% - -29px);
	left: calc(50% - 195px);
	-webkit-animation-delay: 8009ms;
	animation-delay: 8009ms;
}

.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after,
.shooting_star:nth-child(6)::after {
	-webkit-animation-delay: 8009ms;
	animation-delay: 8009ms;
}

.shooting_star:nth-child(7) {
	top: calc(50% - 95px);
	left: calc(50% - 69px);
	-webkit-animation-delay: 5420ms;
	animation-delay: 5420ms;
}

.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after,
.shooting_star:nth-child(7)::after {
	-webkit-animation-delay: 5420ms;
	animation-delay: 5420ms;
}

.shooting_star:nth-child(8) {
	top: calc(50% - -59px);
	left: calc(50% - 70px);
	-webkit-animation-delay: 9378ms;
	animation-delay: 9378ms;
}

.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after,
.shooting_star:nth-child(8)::after {
	-webkit-animation-delay: 9378ms;
	animation-delay: 9378ms;
}

.shooting_star:nth-child(9) {
	top: calc(50% - 76px);
	left: calc(50% - 238px);
	-webkit-animation-delay: 2845ms;
	animation-delay: 2845ms;
}

.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after,
.shooting_star:nth-child(9)::after {
	-webkit-animation-delay: 2845ms;
	animation-delay: 2845ms;
}

.shooting_star:nth-child(10) {
	top: calc(50% - 83px);
	left: calc(50% - 6px);
	-webkit-animation-delay: 5205ms;
	animation-delay: 5205ms;
}

.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after,
.shooting_star:nth-child(10)::after {
	-webkit-animation-delay: 5205ms;
	animation-delay: 5205ms;
}

.shooting_star:nth-child(11) {
	top: calc(50% - -137px);
	left: calc(50% - 267px);
	-webkit-animation-delay: 808ms;
	animation-delay: 808ms;
}

.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after,
.shooting_star:nth-child(11)::after {
	-webkit-animation-delay: 808ms;
	animation-delay: 808ms;
}

.shooting_star:nth-child(12) {
	top: calc(50% - 12px);
	left: calc(50% - 8px);
	-webkit-animation-delay: 2406ms;
	animation-delay: 2406ms;
}

.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after,
.shooting_star:nth-child(12)::after {
	-webkit-animation-delay: 2406ms;
	animation-delay: 2406ms;
}

.shooting_star:nth-child(13) {
	top: calc(50% - 148px);
	left: calc(50% - 47px);
	-webkit-animation-delay: 7566ms;
	animation-delay: 7566ms;
}

.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after,
.shooting_star:nth-child(13)::after {
	-webkit-animation-delay: 7566ms;
	animation-delay: 7566ms;
}

.shooting_star:nth-child(14) {
	top: calc(50% - -28px);
	left: calc(50% - 75px);
	-webkit-animation-delay: 7634ms;
	animation-delay: 7634ms;
}

.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after,
.shooting_star:nth-child(14)::after {
	-webkit-animation-delay: 7634ms;
	animation-delay: 7634ms;
}

.shooting_star:nth-child(15) {
	top: calc(50% - -37px);
	left: calc(50% - 203px);
	-webkit-animation-delay: 7743ms;
	animation-delay: 7743ms;
}

.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after,
.shooting_star:nth-child(15)::after {
	-webkit-animation-delay: 7743ms;
	animation-delay: 7743ms;
}

.shooting_star:nth-child(16) {
	top: calc(50% - 41px);
	left: calc(50% - 256px);
	-webkit-animation-delay: 2888ms;
	animation-delay: 2888ms;
}

.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after,
.shooting_star:nth-child(16)::after {
	-webkit-animation-delay: 2888ms;
	animation-delay: 2888ms;
}

.shooting_star:nth-child(17) {
	top: calc(50% - -35px);
	left: calc(50% - 121px);
	-webkit-animation-delay: 5864ms;
	animation-delay: 5864ms;
}

.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after,
.shooting_star:nth-child(17)::after {
	-webkit-animation-delay: 5864ms;
	animation-delay: 5864ms;
}

.shooting_star:nth-child(18) {
	top: calc(50% - 73px);
	left: calc(50% - 225px);
	-webkit-animation-delay: 7883ms;
	animation-delay: 7883ms;
}

.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after,
.shooting_star:nth-child(18)::after {
	-webkit-animation-delay: 7883ms;
	animation-delay: 7883ms;
}

.shooting_star:nth-child(19) {
	top: calc(50% - -69px);
	left: calc(50% - 47px);
	-webkit-animation-delay: 3339ms;
	animation-delay: 3339ms;
}

.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after,
.shooting_star:nth-child(19)::after {
	-webkit-animation-delay: 3339ms;
	animation-delay: 3339ms;
}

.shooting_star:nth-child(20) {
	top: calc(50% - 162px);
	left: calc(50% - 129px);
	-webkit-animation-delay: 7963ms;
	animation-delay: 7963ms;
}

.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after,
.shooting_star:nth-child(20)::after {
	-webkit-animation-delay: 7963ms;
	animation-delay: 7963ms;
}

@-webkit-keyframes tail {
	0% {
		width: 0;
	}

	30% {
		width: 100px;
	}

	100% {
		width: 0;
	}
}

@keyframes tail {
	0% {
		width: 0;
	}

	30% {
		width: 100px;
	}

	100% {
		width: 0;
	}
}

@-webkit-keyframes shining {
	0% {
		width: 0;
	}

	50% {
		width: 30px;
	}

	100% {
		width: 0;
	}
}

@keyframes shining {
	0% {
		width: 0;
	}

	50% {
		width: 30px;
	}

	100% {
		width: 0;
	}
}

@-webkit-keyframes shooting {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
}

@keyframes shooting {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
}

@-webkit-keyframes sky {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	100% {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
}

@keyframes sky {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	100% {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
}

.fg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MV Boli", cursive;
}
.fg2 {
    position: absolute;
    width: 2000px;
    top: 38px;
    left: 267px;
    display: inline-block;
    color: transparent;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5vw;
}

.fg2 span {
    animation: LetterColor 3s linear infinite;
    animation-delay: calc(0.1s * var(--o));
}
@keyframes LetterColor {
    0% {
        color: #fff;
        text-shadow: 
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
        filter: blur(2px) hue-rotate(0deg);
    }
    30%,
    70% {
        color: #fff;
        /* 减少光晕大小 */
        text-shadow: 
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;
        /* 色调变换360度 */
        filter: blur(2px) hue-rotate(360deg);
    }
    100% {
        /* 动画结束字变透明 */
        color: transparent;
        /* 动画结束消除阴影 */
        text-shadow: none;
        /* 动画结束色调重置 */
        filter: blur(2px) hue-rotate(0deg);
    }
}

