
    .e,
    .a {
        position: absolute
    }

    .a {
        height: 156px;
        top: -21.8%;
        left: -3.4%
    }

    #userSkin.skin-ai {
        background: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTVoOHJhbGw5NmZjM2hoMTRoaHNydHc3bzVjOHhvNGluNmQ5aHVicSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uOuiK4F5zZkZ2/giphy.webp) no-repeat;
        background-size: cover;
        background-attachment: fixed
    }

    #userSkin.skin-ai .user-profile-head {
        background-image: none
    }

    .user-influence-list ul li,
    .user-profile-head-info,
    .navList,
    .blog-second-list,
    .blog-list-box,
    .blink-list-box,
    .sub-people-list-box,
    .live-list-box,
    .resources-list-box,
    .answer-list-box,
    .ask-second-list,
    .answer-list-box,
    .navList-box,
    .sub-second-list {
        background: none !important
    }

    h4[data-v-6fe2b6a7],
    .user-profile-head-name-vip,
    .sub-people-username,
    .live-list-left h4,
    .aside-common-box-head,
    .resources-list-box h4{
        color: #F8FF00 !important;
        font-family: 华文行楷 !important;
        font-size: 2em !important
    }

    .user-profile-aside-common-box {
        background: rgba(187, 173, 217, 0.5) !important
    }

    .blog_extension {
        background: #ffffff3b !important
    }

    .el-input__inner {
        background: #f9020200 !important
    }

    #userSkin.skin-cookblue .user-profile-head {
        background: none
    }

    .introduction-fold {
        color: #00FFFD !important;
        font-family: 华文行楷 !important;
        font-size: 1.6em !important;
        font-weight: bold
    }

    p[data-v-46274ba1],
    .blink-list-bottom,
    .user-profile-statistics-num,
    .user-profile-statistics-name {
        font-weight: bold;
        font-family: STCaiyun !important;
        font-size: 1.8em !important;
        color: #09EC95 !important
    }

    .toolbar-container {
        background: #CAE1FF !important;
    }

    .interest-area-sub span,
    .blog-list-content,
    .navList li,
    .show-more-introduction-fold,
    .address {
        color: #FF00FE !important;
        font-family: FZShuTi !important;
        font-size: 1.8em;
        font-weight: bold
    }

    li>div,
    div>em {
        font-family: STXingkai !important;
        font-size: 1.3em !important;
        color: red !important
    }

    .aside-common-box-achievement span {
        font-family: STHupo !important
    }

    .special-column-name span,
    .influence-left span,
    .view-time-box,
    .res-download-time,
    .res-download-text,
    .two-px,
    .active,
    .interest-area-name,
    .influence-bottom-box dd,
    .influence-bottom-box dt,
    .sub-people-text,
    .live-list-bottom {
        font-family: STLiti !important;
        font-size: 23px !important;
        font-weight: bold;
        color: #00FFFD !important
    }

    .blog-list-content {
        font-size: 1.5em !important
    }

    .two-px {
        font-size: 1.1em !important
    }

    .e {
        width: 1000px;
        height: 100px;
        top: -97px;
        left: 336px
    }

    .user-gender-male {
        background-image: url(https://userblink.csdnimg.cn/direct/7b0bd0879e944cd2b8be84b732d6529a.png) !important;
        width: 19px !important
    }

    .aside-common-box-achievement li:first-child i {
        background-image: url(https://picture.gptkong.com/20240620/1615443ae4ce9d407facabf2bd0557c45c.png) !important
    }

    .aside-common-box-achievement li:nth-child(2) i {
        background-image: url(https://userblink.csdnimg.cn/direct/8024c1a120d04f80bb02d5ad7ad7d821.png) !important
    }

    .aside-common-box-achievement li:nth-child(3) i {
        background-image: url(https://userblink.csdnimg.cn/direct/c64f1fd3c16b42df8f561fc024170c77.png) !important
    }

    .aside-common-box-achievement li:nth-child(4) i {
        background-image: url(https://picture.gptkong.com/20240625/0056d2d4bd1ba744ffae9915d6ceb203ff.png) !important
    }

    .aside-common-box-achievement li:nth-child(5) i {
        background-image: url(https://picture.gptkong.com/20240626/151496b5bbeefc4d67b89d7b6578518fd2.png) !important
    }

    .user-top-list li {
        background-image: url(https://picture.gptkong.com/20240625/004798e3b810084c71b2e8b2c0cddea299.png) !important
    }

    .comment-num,
    .give-like-num,
    .view-num {
        font-family: STHupo !important;
        color: #05FFAE !important
    }

    .g {
        position: fixed;
        bottom: 27%;
        left: 0%;
        z-index: 9999
    }

    .user-profile-avatar {
        position: relative;
    }

    .user-profile-avatar::after {
        position: absolute;
        content: ' ';
        background: url(https://picture.gptkong.com/20240626/2203a336938ff749f0ad211b21ffb82a4d.png);
        background-size: cover;
        width: 210%;
        height: 210%;
        top: -55px;
        left: -55px
    }

    .user-profile-head-name-vip {
        position: relative;
    }

    .user-profile-head-name-vip::after {
        position: absolute;
        content: "欢迎来到小Z的博客!";
        font-family: FZShuTi;
        font-size: 100px;
        color: black;
        font-weight: bold;
        width: 2000px;
        top: -85px;
        left: 109px
    }
    .user-top-list a{position: relative}
.user-top-list a::after {
        content:' ';
        position: absolute;
background-size:cover;
        background:url(https://github.com/Zhouxin3185/csdn/blob/main/QQ%E6%88%AA%E5%9B%BE20240627213141.png?raw=true);
        width: 14%;
        height:91%;
        top: 2px;
        left:256px
    }



    .introduction-fold span{color:red!important;font-family:KaiTi!important}
    .user-general-info-join-csdn span,.user-profile-wrapper-box pan,.user-profile-title,.user-profile-wrapper-box span,.user-profile-sub-title{color: red!important;
        font-weight: bold!important;
        font-size: 22px!important;
    font-family: FZShuTi!important;}

    .show-more-introduction-fold{  
        color: #0016FF!important}

    .user-general-info-join-csdn > span:first-child,.user-profile-wrapper-box span,.user-profile-wrapper-box span{color:#F4FF00!important}
    .aside-common-box-more {
        color: #00FF03!important;
        font-family: STHupo!important;
        font-size: 26px!important;
    }
    input.el-input__inner,.blog-second-list ul li:nth-child(2),.blog-second-list ul li:nth-child(3),.blog-second-list ul li:nth-child(4),.sub-second-list-li{
        color: #1CFF00!important;
        font-weight: bold;
        font-family: STLiti!important;
        font-size: 25px!important;
    }
    


li.sub-second-list-li{
    font-size: 18px!important;
}

.nav-li-num[data-v-bb5f5e3e] {
    font-size: 20px!important;
    color: #00FFDE!important;
}