html, body {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
  }
  
  .satic-area {
    position: absolute;
    width: 2150px;
    height: 1800px;
    top: -500px;
    left: -498px;
    background: url(https://github.com/Zhouxin3185/csdn/blob/main/yun1.jpg?raw=true) no-repeat center;
    background-size: cover;
    z-index: -99999999999;}
  
  .dynamic-area1   {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(https://github.com/Zhouxin3185/csdn/blob/main/yun2.png?raw=true) repeat-x 0px 0px;
    background-size: cover;
    animation: posterDrop1 6000s linear infinite;
    z-index: -99999999999;
  }
  
  @keyframes posterDrop1 {
    from { background-position: 0 0; }
    to { background-position: 4000% 0; }
  }
  
  .dynamic-area2   {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(https://github.com/Zhouxin3185/csdn/blob/main/yun3.png?raw=true) repeat-x 0px 0px;
    background-size: cover;
    animation: posterDrop2 8000s linear infinite;
    z-index: -99999999999;
  }
  
  @keyframes posterDrop2 {
    from { background-position: 0 0; }
    to { background-position: 30000% 0; }
  }